<extend name="parent" />
<block name="title">
    {$title}
</block>
<block name="style">
    <link rel="stylesheet" href="__THEME__/plugins/timepicker/bootstrap-timepicker.min.css">
</block>
<block name="content">
    <div class="row">
        <div class="col-md-3">1</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">3</div>
        <div class="col-md-3">4</div>
    </div>
    <include file="$temp_html"/>
</block>
<block name="script">
    <script src="__THEME__/plugins/datepicker/bootstrap-datepicker.js"></script>
</block>
